<ion-view view-title="Map">

  <style>
    #map {
      width: 100%;
      height: 100%;
    }
    
    .scroll {
      height: 100%;
    }
    
    #floatme {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 200px;
      background-color: white;
      padding: 15px;
      z-index: 9;
    }
    
    #log {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 200px;
      background-color: lightyellow;
      padding: 5px;
      z-index: 9;
    }
  </style>

  <ion-content>
    <div id="floatme">
      {{lat}}</br>
      {{lng}}<br> {{lastUpdated | moment:"HH:mm:ss" }}
    </div>
    <div id="log">
      <!--<span ng-if="!_showLog" ng-click="_showLog=true">{{_showLog || 'LOG'}}</span>-->
      <span ng-repeat="log in logs track by $index">{{log}}<br></span>
    </div>
    <!--<div style="top:300px; width: 100%">POS: {{ lat }} | {{ lng }}</div>-->
    <div id="map" style=""></div>
    <!--<ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>-->
  </ion-content>

  <script>
  </script>
</ion-view>